@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form">
            <div class="form-group" ng-repeat="s in schema">
                <label for="f-{{s.field}}" class="col-md-3 control-label">{{s.title}}</label>
                <div class="col-md-9">
                    <input id="f-{{s.field}}" type="text" class="form-control" ng-model="model[s.field]" placeholder="{{s.title}}" />
                </div>
            </div>
        </form>
    </div>
</div>