@{
    Layout = null;
}

<table class="cmm-grid">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>Value</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Value</td>
        </tr>
    </tbody>
</table>