@{
    Layout = null;
}

<div class="cmm-grid">
    <div class="cmm-grid-toolbox">
        <button class="btn btn-default" title="@WebCommon.AddNewTitle" data-toggle="tooltip" data-placement="top" data-rel="tooltip"><i class="fa fa-plus"></i> @WebCommon.AddNew</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < 10; i++)
            {
                <tr>
                    <td>Name</td>
                    <td>Value</td>
                    <td style="width: 90px;">
                        <button class="btn btn-default btn-sm" title="@WebCommon.EditTitle" data-toggle="tooltip" data-placement="top" data-rel="tooltip"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-default btn-sm" title="@WebCommon.RemoveTitle" data-toggle="tooltip" data-placement="top" data-rel="tooltip"><i class="fa fa-close"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="cmm-grid-footer">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>