@{
    Layout = null;
}

<div class="cmm-grid">
    <div class="cmm-grid-toolbox">
        <button ng-click="onAddClick()" class="btn btn-default" title="@WebCommon.AddNewTitle" data-toggle="tooltip" data-placement="top" data-rel="tooltip"><i class="fa fa-plus"></i> @WebCommon.AddNew</button>
    </div>
    <table>
        <thead>
            <tr>
                <th ng-repeat="s in schema">{{s.title}}</th>                
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in dataSource">
                <td ng-repeat="s in schema">{{e[s.field]}}</td>                
                <td style="width: 90px;">
                    <button ng-click="onEditClick(e)" class="btn btn-default btn-sm" title="@WebCommon.EditTitle" data-toggle="tooltip" data-placement="top" data-rel="tooltip"><i class="fa fa-pencil"></i></button>
                    <button ng-click="onDeleteClick(e)" class="btn btn-default btn-sm" title="@WebCommon.DeleteTitle" data-toggle="tooltip" data-placement="top" data-rel="tooltip"><i class="fa fa-close"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="cmm-grid-footer">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>