<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 
    connestionString = "Server=SMT\SQLEXPRESS;Database=SQLMT;User Id=LOGIN;Password=HASLO"-->
  </configSections>

  <connectionStrings>
    <!-- <add name="MainConnectionString" 
         connectionString="Data Source = BSMT\SQLMT; Initial Catalog = MaintenanceManagement; User Id = MM_User; Password=Instandhaltung;"
      providerName="System.Data.SqlClient" /> -->

    <add name="MainConnectionString"
         connectionString="Data Source = .\SQLEXPRESS; Initial Catalog = MaintenanceManagement; Integrated Security = True;"
      providerName="System.Data.SqlClient" />
      
        
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>