.body-content {
    min-height: 600px;
}

.login-form {
    width: 300px;
    margin: auto;
    margin-top: 100px;
}

.login-username {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

.login-password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;   
}
