@{
    ViewBag.Title = WebCommon.ToolTypePageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@WebCommon.ToolTypePageTitle</h2>

<div>
    <cmm-grid resource="ToolTypes" edit-role="Administrator" schema="[{ field: 'name', title: '@Common.ToolType_Name' }]"></cmm-grid>
</div>
