@model ProjectDetailsViewModel
@{
    ViewBag.Title = WebCommon.ProjectDetailsPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@WebCommon.ProjectDetailsPageTitle</h2>


<div class="project-details" ng-controller="ProjectDetailsController">
    <input type="hidden" value="@Model.ProjectId" id="project-id" />
    <div ng-repeat="b in boards">
        <div class="panel panel-default stage">
            <div class="panel-heading">
                {{b.name}}
            </div>
            <div class="panel-body">
                <cmm-task-board board-id="b.id"></cmm-task-board>
            </div>
        </div>
        <div class="text-center" ng-hide="boards.indexOf(b) == boards.length - 1">
            <i class="fa fa-arrow-down fa-2x"></i>
        </div>
    </div>
</div>
